---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
ColumnLimit: 80
IndentWidth: 4
ContinuationIndentWidth: 4
AlignAfterOpenBracket: AlwaysBreak
AllowAllArgumentsOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyFunction: false
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: Never
NamespaceIndentation: None
PointerAlignment: Right
ReferenceAlignment: Pointer
DerivePointerAlignment: false
IncludeBlocks: Preserve
SortIncludes: CaseSensitive
SpaceBeforeCpp11BracedList: false
ReflowComments: false
FixNamespaceComments: false
